/* Articles.module.css */

.articleclass {
    background-color: #f9f9f9;
    border: 100px solid #ddd;
    border-radius: 100px;
    padding: 25px;
    margin: 20px auto; /* Center the article horizontally */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.articleclass h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
    border-bottom: 10px solid #333;
}

.articleclass p {
    color: #0e0d0d;
    font-size: 16px;
    line-height: 1.5;
}
