/* styles/voucher.css */

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    justify-content: space-between; 

 
  }
  
  .label {
    margin-bottom: 5px;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right:250px;
  }
  
  .qrcode {
    margin-top: 20px;
  }
  .clearButton {
    background-color: #f44336; /* Red color */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right:0px;
  }
  
  .clearButton:hover {
    background-color: #d32f2f; /* Darker red color on hover */
  }
  .errorMessage {
    color: red; /* Set the text color to red */
    font-size: 14px; /* Adjust the font size as needed */
    margin-top: 5px; /* Add some space above the error message */
  }
